


.Encyclopedia {
  margin-left: 20px;

}

.FiltroB input {
  margin: 0 auto; /* Alinear horizontalmente */
  margin-bottom: 10px;
  padding: 8px;
  width: 40%;
  border-radius: 30px;
  border-color:#b455c5;
  height: 30px;

}

.FiltroB {
  margin: '0 auto';
  align-content: 'center';
  align-items: center;
}

/* Estilo para el placeholder */
.FiltroB input::placeholder {
  color: #666; /* Color del placeholder */
  font-style: italic; /* Estilo de fuente del placeholder */
  font-size: 14px;
}

/* Estilos para la lista ul */
.list-characters {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* O ajusta según tus necesidades */
}

.character-name {
  margin-top: 10px; /* Ajusta según el espacio que desees entre la imagen y el nombre */
  text-align: center;
}

.character-item {
  width: 18%; /* Ancho ajustado para 5 elementos por fila, ajusta según tus necesidades */
  margin: 10px; /* Márgenes entre elementos, ajusta según tus necesidades */
  text-align: center;
}

.list-characters li {
  margin-bottom: 10px; /* Espaciado entre elementos de la lista */
  text-align: center;
}

.list-characters li a {
  text-decoration: none; /* Quita la decoración de enlace */
  color: whitesmoke; /* Color del texto del enlace */
  font-weight: bold; /* Peso de la fuente del enlace */
  font-size: 16px; /* Tamaño de la fuente del enlace */
}

.list-characters li a:hover {
  color: #b455c5; /* Cambia el color del texto al pasar el ratón */
}

.esquina-superior-izquierda {
  position: absolute;
  top: 0;
  left: 20px;
  width: 100px; /* ajusta según el tamaño de tu imagen */
  height: 100px; /* ajusta según el tamaño de tu imagen */
  cursor: pointer;
}

.esquina-superior-derecha {
  position: absolute; /* Puedes cambiar a 'absolute' o 'relative' según tus necesidades */
  top: 0;
  right: 20px;
  width: 100px; /* ajusta según el tamaño de tu imagen */
  height: 100px; /* ajusta según el tamaño de tu imagen */
  cursor: pointer;
}

.CharacterDetails {
  margin-left: 20px;
  margin-top: 80px;
  text-align: center;
}

.CharacterDetails img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.Title-Home {
  text-align: center;
  color: whitesmoke;
  margin-top: 80px;

}




.App-link {
  color: #61dafb;
}

/* En tu archivo de estilos (App.css o similar) */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.pagination-number {
  margin: 0 5px;
}

.pagination-number a {
  text-decoration: none;
  color: whitesmoke; /* Ajusta el color según tu diseño */
  padding: 5px 10px;
  border: 1px solid #ccc; /* Ajusta el borde según tu diseño */
  border-radius: 5px; /* Ajusta el redondeo de los bordes según tu diseño */
  
}

.pagination-number a:hover {
  background-color:#b455c5; /* Ajusta el color de fondo al pasar el ratón según tu diseño */
  color:  whitesmoke;
  border-color: solid 3px#181818;
}

.footer-style {
  
  color: #fff;
  text-align: center;
  padding: 10px;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  box-shadow: #0056b3;
}

.img-character {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: 80%;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 2px solid transparent; /* Establece el ancho y color del borde inicialmente como transparente */
  /* image-rendering: pixelated;     */
}

.img-character:hover {
  border: 2px solid#b455c5;
}



.characterImagen {
  width: 20%; /* La imagen ocupa todo el ancho del contenedor */
  height: 80%;
  margin-bottom: 10px;
  border-radius: 20px;
  /* image-rendering: pixelated;     */

}

.cd-title {
  font-size: 36px;
}

.swapi-title {
  color: whitesmoke;
}

.swapi-title:hover {
  color:#b455c5;
}

.enlaceSWAPI {
  text-decoration: underline;
  color: whitesmoke;
}

.enlaceSWAPI:hover {
  color:#b455c5;
}

.enlaceCon {
  text-decoration: underline;
  color: whitesmoke;
}

.enlaceCon:hover {
  color:#b455c5;
}

.contacto-title {
  color: whitesmoke;
}

.contacto-title:hover {
  color:#b455c5;
}